<app-header [title]="'Book`s details'"></app-header>

<div class="container col-md-8 pb-5 mt-5">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-md-8 text-center" *ngIf="book">
                <p>
                    <strong>Title:</strong>
                    {{book.title}}
                </p>

                <p>
                    <strong>ISBN:</strong>
                    {{book.isbn}}
                </p>

                <p>
                    <strong>Author:</strong>
                    {{book.author}}
                </p>

                <p>
                    <strong>Category:</strong>
                    {{book.category}}
                </p>

                <p>
                    <strong>Year of publication:</strong>
                    {{book.yearOfPublication}}
                </p>

                <p>
                    <strong>Quantity:</strong>
                    {{book.quantity}}
                </p>

                <div class="row">
                    <div class="col-12 d-flex justify-content-around">
                        <button mat-raised-button color="primary" [routerLink]="['']" routerLinkActive="router-link-active" >Back</button>
                        <button mat-raised-button color="primary" [routerLink]="['../../update/', book.bookId]" routerLinkActive="router-link-active" >Edit</button>
                    </div>
                </div>

            </div>

            <div *ngIf="!book || book == null">
                <app-not-found></app-not-found>

                <div class="row">
                    <div class="col-12 d-flex justify-content-around">
                        <button mat-raised-button color="primary" [routerLink]="['']" routerLinkActive="router-link-active" >Back</button>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
